/* :root {
    font-size: 20px;
}

body {
    margin: 0;
    background: rgb(212, 212, 212);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article.product {
    max-width: 400px;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
}

.product figure {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 208, 0);
}

.product figure img {
    width: 80%;
    margin: 4rem 0;
}

.product figure figcaption {
    font-size: .8rem;
    color: rgba(255,255,255,.4);
    margin: auto .5rem .5rem auto;
}

.product section {
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.product section h1 {
    font-size: 1.6rem;
    margin: 0;
}

.product section h2 {
    margin: .25rem 0;
    font-size: 1.2rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    line-height: 1.4;
    color: rgba(0,0,0,.7);
}

.price {
    margin: 2rem 0 0 auto;
    font-size: 2rem;
    font-weight: 700;
}

button {
    appearance: none;
    border: none;
    background: none;
    font-size: 1rem;
    border: 2px solid black;
    padding: .75rem 1rem;
    border-radius: .25rem;
    color: black;
    margin: auto 0 0 auto;
}

button:hover {
    background: black;
    color: white;
    cursor: pointer;
} */

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100vh;
  margin: 0;
}

article {
  max-width: 300px;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

figure {
  margin: 0;
  width: 100%;
  background-color: rgb(255, 208, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

figcaption {
  opacity: 60%;
  color: white;
  align-self: flex-end;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

img {
  width: 80%;
  margin: 4rem 0;
}

section {
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 2rem 1.5rem;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 900;
}
h2 {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.price {
  margin-top: 1.5rem;
  align-self: flex-end;
  font-size: 2rem;
  font-weight: 900;
}
